.main-gacha
  .main-title ガチャシミュレーター
  .gacha-section
    .gacha-title{onclick: "scrollToGames()"} ガチャを回す
    .rality
      %h1#show-rality
      .desc
      %p#description
    .gacha-anime
      .result-image
      %img#gacha-result{alt: "", heigth: "450", src: "assets/games/grablu/gacha.png", width: "350"}/
      #gacha-btn
  .ssr-gacha-section
    .ssr-gacha-title{onclick: "scrollToGames2()"} SSR確定ガチャを回す
    .ssr-gacha-anime
      .ssr-result-image
      %img#gacha-result2{alt: "", heigth: "450", src: "assets/games/grablu/gacha-ssr.png", width: "350"}/
      #gacha-btn2
  .top-btn{onclick: "scrollToTop()"}