.main-gacha
  .main-title ガチャシミュレーター
  .gacha-section
    .gacha-title ガチャを回す
    .gacha-anime
      .result-image
      %img#gacha-result{alt: "", heigth: "450", src: "assets/games/grablu/gacha.png", width: "350"}/
      #gacha-btn