.main-gacha
  .main-title ガチャシミュレーター
  .gacha-section
    .gacha-title ガチャを回す
    .gacha-anime
      .anime-image
      .gacha-btn
    .gacha-result
      .result-title ガチャ結果
      %ol.gacha-result-list.hidden
        %li.result-box
          .first-child レアリティ
          .second-child 武器名
        %li.result-box
          .first-child レアリティ
          .second-child 武器名
        %li.result-box
          .first-child レアリティ
          .second-child 武器名
        %li.result-box
          .first-child レアリティ
          .second-child 武器名
        %li.result-box
          .first-child レアリティ
          .second-child 武器名