.side-bar
  .sub-title ゲーム一覧
  %ul.sub-content-menu
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/grablu/grablu-icon.png);"}
      .game-title グランブルーファンタジー
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/shadowverse/shadowverse-icon.png);"}
      .game-title シャドウバース
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/priconne/priconne-icon.png);"}
      .game-title プリンセスコネクト! Re:Dive
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/fankill-icon.png);"}
      .game-title ファントムオブキル
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/fgo-icon.png);"}
      .game-title Fate/Grand Order
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/pazudra-icon.png);"}
      .game-title パズル＆ドラゴンズ
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/monst-icon.png);"}
      .game-title モンスターストライク
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/dqwalk-icon.png);"}
      .game-title ドラクエウォーク