.side-bar
  .sub-title ゲーム一覧
  %ul.sub-content-menu
    %li.game-item
      .game-icon{style: "background-image: url(https://img.gamewith.jp/assets/images/games/icons/e30d7e377baf166eec17be08bfeb7697.png);"}
      .game-title グランブルーファンタジー
    %li.game-item
      .game-icon{style: "background-image: url(https://img.gamewith.jp/gamedb/games/icons/780adaebf9ecf208ad121db421fd0025.jpg);"}
      .game-title シャドウバース
    %li.game-item
      .game-icon{style: "background-image: url(https://img.gamewith.jp/gamedb/games/icons/7ff67d2f9a34ea2fb748921ed8796a7b.jpg);"}
      .game-title プリンセスコネクト! Re:Dive