.side-bar
  .sub-title ゲーム一覧
  %ul.sub-content-menu
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/grablu/grablu-icon.png);", onclick: "scrollToTop()"}
      .game-title グランブルーファンタジー
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/shadowverse/shadowverse-icon.png);", onclick: "scrollToTop()"}
      .game-title シャドウバース
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/priconne/priconne-icon.png);", onclick: "scrollToTop()"}
      .game-title プリンセスコネクト! Re:Dive
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/fankill-icon.png);", onclick: "scrollToTop()"}
      .game-title ファントムオブキル
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/fgo-icon.png);", onclick: "scrollToTop()"}
      .game-title Fate/Grand Order
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/pazudra-icon.png);", onclick: "scrollToTop()"}
      .game-title パズル＆ドラゴンズ
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/monst-icon.png);", onclick: "scrollToTop()"}
      .game-title モンスターストライク
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/dqwalk-icon.png);", onclick: "scrollToTop()"}
      .game-title ドラクエウォーク
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/draegg-icon.png);", onclick: "scrollToTop()"}
      .game-title ドラゴンエッグ
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/powpro-icon.png);", onclick: "scrollToTop()"}
      .game-title 実況パワフルプロ野球
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/yugioh-icon.png);", onclick: "scrollToTop()"}
      .game-title 遊戯王 デュエルリンクス
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/dqr-icon.png);", onclick: "scrollToTop()"}
      .game-title ドラクエライバルズ
    %li.game-item
      .game-icon{style: "background-image: url(/assets/games/icons/soa-icon.png);", onclick: "scrollToTop()"}
      .game-title STAR OCEAN anamnesis
