.title_menu{style: "background-image: url(/assets/games/grablu/grablu-title2.png);"}
%ul.menu-list
  %li.menu-item{onclick: "scrollToGames()"}
    ゲーム選択
  %li.menu-item{onclick: "scrollToGames()"}
    %i.far.fa-gem
    ガチャガチャ
    %i.fas.fa-gem
  %li.menu-item{onclick: "scrollToGames2()"}
    %i.far.fa-gem
    %i.fas.fa-gem
    %i.far.fa-gem
    SSR確定ガチャ
    %i.far.fa-gem
    %i.fas.fa-gem
    %i.far.fa-gem
%ul.menu-list2
  %li.menu-item2
    ↑ ゲーム一覧へ移動します
  %li.menu-item2
    ↑ 遊びたいガチャを選んでください ↑
.title_menu2{style: "background-image: url(/assets/games/shadowverse/shadowverse-title5.png);"} 
.pankuzu
  .pankuzu-inner
    .pankuzu-child1{onclick: "scrollToTop()"}
      CakeWalk
    .pankuzu-child2
      > ガチャガチャ