.title_menu{style: "background-image: url(/assets/games/grablu/grablu-title.png);"}
%ul.menu-list
  %li.menu-item{onclick: "scrollToGames()"}
    ゲーム選択
  %li.menu-item{onclick: "scrollToGames()"}
    %i.far.fa-gem
    ガチャガチャ
    %i.fas.fa-gem
  %li.menu-item{onclick: "scrollToGames()"}
    %i.far.fa-gem
    %i.fas.fa-gem
    %i.far.fa-gem
    SSR確定ガチャ
    %i.far.fa-gem
    %i.fas.fa-gem
    %i.far.fa-gem
.pankuzu
  .pankuzu-inner
    .pankuzu-child
      CakeWalk >
    .pankuzu-child
      グラブルガチャ