.title_menu{style: "background-image: url(/assets/games/grablu/grablu-title.png);"}
%ul.menu
  %li.menu-item
    トップ
  %li.menu-item
    %i.fas.fa-gem
    %i.far.fa-gem
    %i.fas.fa-gem
    %i.far.fa-gem
    %i.fas.fa-gem
    10連ガチャ
    %i.fas.fa-gem
    %i.far.fa-gem
    %i.fas.fa-gem
    %i.far.fa-gem
    %i.fas.fa-gem
  %li.menu-item
    %i.far.fa-gem
    1点狙い
.pankuzu
  .pankuzu-inner
    .pankuzu-child
      CakeWalk >
    .pankuzu-child
      グラブルガチャ